body {
  background: #e2e2e2;
}

.background-img {
  background-image: url("https://picsum.photos/1200/800?random=12");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.tagline_container {
  height: 33vw;
}

@media (max-width: 576px) {
  .tagline_container {
    height: 45vw;
  }
}

.title_big {
  font-size: 8vw;
}

.subtitle_big {
  font-size: 4vw;
}

.vh-55 {
  min-height: 55vh;
}
